# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.


Objectives :

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

## Author 
Mouliom Abidine, Etudiant en data science.


Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. NumPy
    3. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter notebook   |
| Ananconda          |
| Rstudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335